<% if @article.errors.any? %>
  <div class="alert alert-danger alert-dismissable fade show" role="alert">
    <h4 class="alert-heading">The following errors prevented the article from being created:-</h4>
    <ul>
      <% @article.errors.full_messages.each do |message| %> 
        <li><%= message %></li>
      <% end %>
    </ul>
    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>