<div class="container">
  <% flash.each do |name, message| %>
    <div class="alert alert-success alert-dismissable show fade">
      <%= message %>
      <button class="close" type="button" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>